* {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}

/* Let's highlight canvas boundaries */
#gjs {
  border: none;
}

/* Reset some default styling */
.gjs-cv-canvas {
  top: 0;
  width: 100%;
  height: 100%;
}

.gjs-blocks-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gjs-blocks-c .gjs-block {
  width: 45%;
  height: auto;
  min-height: 101px;
}

.gjs-blocks-c .layerBlocks {
  width: 100% !important;
  min-height: 62px !important;
}

.panel__top {
  width: 100%;
  height: 6vh;
  position: initial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.panel__top .panel_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.panel__top .panel__devices {
  position: initial;
  width: auto;
  height: 2em;
  padding: 0;
  margin: 0;
  border-radius: .4em;
}

.panel__top .panel__devices .gjs-pn-buttons .fa-tablet {
  margin: 0 !important;
}

.panel__top .panel__devices .gjs-pn-buttons {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #fff;
}

.panel__top .panel__devices .gjs-pn-buttons .gjs-pn-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

.panel__basic-actions {
  position: initial;
}

.panel__basic-actions .gjs-pn-buttons .gjs-pn-btn {
  margin-left: .8em;
  font-size: 1.1rem;
}

.panel__basic-actions .gjs-pn-buttons .gjs-pn-btn:first-child {
  margin: 0;
}

.editor-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
}

.editor-canvas {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.panel_right_container {
  height: 94vh;
  position: relative;
}

.panel_right_container .panel_right_sheet {
  height: auto;
  overflow-y: scroll;
}

.panel_right_container .panel_right_sheet .panel__right {
  background-color: #f9f9f9;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding: 0;
  border-left: 1px solid #51616756;
  position: absolute;
  top: 0;
}

.panel_left_container {
  height: 94vh;
  position: relative;
  overflow-y: scroll;
}
/*# sourceMappingURL=editor.css.map */