* {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}

/* Let's highlight canvas boundaries */
#gjs {
  border: none;
}

/* Primary color for the background */
.gjs-one-bg {
  background-color: #363b3d;
}

/* Secondary color for the text color */
.gjs-two-color {
  color: rgba(255, 255, 255, 0.7);
}

/* Tertiary color for the background */
.gjs-three-bg {
  background-color: #4cb9ea;
  color: white;
}

/* Quaternary color for the text color */
.gjs-four-color,
.gjs-four-color-h:hover {
  color: #4cb9ea;
}

/* Reset some default styling */
.gjs-cv-canvas {
  top: 0;
  width: 100%;
  height: 100%;
}

.gjs-block {
  width: auto;
  height: auto;
  min-height: auto;
}

.panel__top {
  width: 100%;
  height: 8.052708638360176vh;
  position: initial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.panel__top .panel_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.panel__basic-actions {
  position: initial;
}

.editor-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
}

.editor-canvas {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.panel_right_container {
  height: 91.9472913616vh;
  position: relative;
}

.panel_right_container .floading__button {
  z-index: 10;
  top: 1em;
  left: -1.7em;
}

.panel_right_container .panel__switcher {
  position: absolute;
  z-index: 4;
  background-color: #d6d9dc;
  width: 100%;
  height: 7vh;
  padding: 0;
}

.panel_right_container .panel__switcher .gjs-pn-buttons {
  height: 100%;
}

.panel_right_container .panel__switcher .gjs-pn-buttons .gjs-pn-btn {
  height: 100%;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #777;
}

.panel_right_container .panel__switcher .gjs-pn-buttons .gjs-pn-btn.gjs-pn-active {
  background-color: #f9f9f9;
  color: #516167;
}

.panel_right_container .panel_right_sheet {
  height: auto;
  overflow-y: scroll;
}

.panel_right_container .panel_right_sheet .panel__right {
  background-color: #f9f9f9;
  width: 100%;
  height: calc(91.9472913616vh - 7vh);
  overflow-y: scroll;
  padding: 0;
  border-left: 1px solid #51616756;
  position: absolute;
  top: 7vh;
}

.panel_right_container .panel_right_sheet .panel__right .gjs-blocks-cs,
.panel_right_container .panel_right_sheet .panel__right .gjs-layer {
  background-color: #f9f9f9;
}

.remove_scrollbar::-webkit-scrollbar {
  width: 0;
}

.gjs-blocks-c {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gjs-blocks-c .gjs-block {
  width: 28%;
  background: #fff;
  border-radius: 3px;
  display: block;
  min-height: 118px;
  padding: 18px 15px 15px 15px;
  border: #dddddd 1px solid;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-transition-duration: .15s;
          transition-duration: .15s;
  -webkit-transition-property: -webkit-box-shadow -webkit-box-shadow;
  transition-property: -webkit-box-shadow -webkit-box-shadow;
  transition-property: box-shadow -webkit-box-shadow;
  transition-property: box-shadow -webkit-box-shadow, -webkit-box-shadow -webkit-box-shadow;
  color: #505659;
}

.gjs-blocks-c .gjs-block:hover {
  -webkit-box-shadow: 5px 5px 10px #e3e3e3, -5px -5px 10px #ffffff;
          box-shadow: 5px 5px 10px #e3e3e3, -5px -5px 10px #ffffff;
}

.gjs-block-category {
  border: none !important;
}

.gjs-title {
  background-color: #F9F9F9 !important;
  color: #505659;
  font-size: 1rem;
  font-weight: 400 !important;
  border: none !important;
}

.panel__devices {
  position: initial;
  width: 70px;
  height: 2em;
  padding: 0;
}

.panel__devices .gjs-pn-buttons {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #fff;
}

.panel__devices .gjs-pn-buttons .gjs-pn-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

.layerBlocks {
  width: 100% !important;
  min-height: 70px !important;
}

.gjs-pn-views-container {
  -webkit-transition: .3s width ease-in-out;
  transition: .3s width ease-in-out;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1c1e31;
}

::-webkit-scrollbar-thumb {
  background: #667085;
}
/*# sourceMappingURL=editor.css.map */