@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Lobster&display=swap');

/* Reset some default styling */
.gjs-cv-canvas {
  top: 0;
  width: 100%;
  height: 100%;
}

.panel__top {
  padding: 0;
  // width: 100%;
  height: 6.3vh;
  display: flex;
  position: initial;
  justify-content: space-between;
}

.panel__top .logo {
  display: flex;
  align-items: center;
}

.panel__top .logo_image {
  width: 40px
}

.panel__top .logo span {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* font-family: 'Comfortaa', cursive; */
  font-size: 1.2rem;
  font-weight: 400;
}

.panel__basic-actions {
  position: initial;
}

.editor-row {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  height: 93.7vh;
}

.editor-canvas {
  flex-grow: 1;
}

.panel__right {
  flex-basis: 230px;
  height: 93.7vh;
  background: rgb(28, 30, 49);
  position: relative;
  overflow-y: auto;
  display: none;
}

.panel__left {
  flex-basis: 230px;
  height: 93.7vh;
  background: rgb(28, 30, 49);
  position: relative;
  overflow-y: auto;
}

.panel__switcher {
  position: initial;
<<<<<<< Updated upstream:src/components/assets/editor.scss
  // width: 17%;
=======
  width: 100%;
  margin: 0;
  padding: 0;

  .gjs-pn-buttons {
    width: 100%;
    height: 100%;

    .gjs-pn-btn {
      border-radius: 0;
      width: 33.3%
    }
  }
>>>>>>> Stashed changes:src/components/editor/assets/editor.scss
}

.panel__devices {
  position: initial;
}

.styleBlock {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

#gjs {
  border: none;
}

/* Theming */

/* Primary color for the background */
.gjs-one-bg {
  background-color: rgb(28, 30, 49);
}

/* Secondary color for the text color */
.gjs-two-color {
  color: rgba(255, 255, 255, 0.7);
}

/* Tertiary color for the background */
.gjs-three-bg {
  background-color: rgb(28, 30, 49);
  color: white;
}

/* Quaternary color for the text color */
.gjs-four-color,
.gjs-four-color-h:hover {
  color: #35D7BB;
}

.gjs-pn-buttons .gjs-pn-btn {
  margin-right: 0;
  border-radius: .3em;
}

.gjs-block {
  background: inherit;
  border: none;
  box-shadow: none;
}

.panel-buttons {
  margin-right: .5em;
}

.gjs-fields {
  border-radius: .5em;
}

.gjs-field {
  border-radius: .5em;
}

.gjs-clm-tags-btn {
  border-radius: .3em !important;
  width: 25px;
}

.gjs-fields .gjs-field-color {
  border-radius: .5em;
}

.gjs-fields .gjs-field-color .gjs-input-holder {
  border-radius: .5em;

  input {
    border-radius: .5em;
  }
}

.gjs-fields .gjs-field-color .gjs-field-colorp {
  width: 30px;
  border-radius: .5em;
  padding: 0;
  border: none;

  .gjs-field-colorp-c {
    border-radius: .5em;
  }

  .gjs-checker-bg {
    box-shadow: none;
    border-radius: .5em;
  }

  .gjs-field-color-picker {
    box-shadow: none;
    border-radius: .5em;
  }
}

.CodeMirror {
  background: inherit !important
}

.CodeMirror-gutters {
  background: inherit !important
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgb(28, 30, 49);
}

::-webkit-scrollbar-thumb {
  background: #667085;
}